<br><br><br>
<div class="login">
    <h2 class="login-header">Change Password</h2>
    <form [formGroup]="pwdForm" class="login-container" (ngSubmit)="change()">
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.old.errors }">
        <input
          label="old"
          type="password"
          placeholder="old password"
          formControlName="old"
          required
        >
      </p>

      <div *ngIf="isSubmitted && formControls.old.errors" class="help-block">
        <div *ngIf="formControls.old.errors">
          password length should be min 8 characters
        </div>
      </div>

      <p>
        <input
          label="new"
          type="password"
          placeholder="new Password"
          formControlName="new"
          required
        ></p>
      <div *ngIf="isSubmitted && formControls.new.errors" class="help-block">
        <div *ngIf="formControls.new.errors">
          password validations failed
        </div>
      </div>
        <br>
        <input type="submit" value="Change Password">

      <alert *ngIf="alertMessage" [type]="type">
        {{alertMessage}}
      </alert>
    </form>
  </div>











