<carousel>
  <slide>
    <img
      src="assets/images/100.jpg"
      alt="first slide"
      style="display: inline-block; width: 100%; height: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/101.jpg"
      alt="second slide"
      style="display: inline-block; width: 100%; height: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/103.jpg"
      alt="third slide"
      style="display: inline-block; width: 100%; height: 100%;"
    />
  </slide>
</carousel>
