<div>
  <h4>Customers</h4>
  <br />
  <table mat-table [dataSource]="customerList" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><h6>Name</h6></th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef><h6>Website</h6></th>
      <td mat-cell *matCellDef="let element">{{ element.website }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef><h6>Address</h6></th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
