<div class="div-pad">
  <div class="div-pad" style="text-align: center;">
    <button
      style="text-align: center;"
      type="button"
      class="btn btn-primary"
      (click)="createCustomer()"
    >
      Create Customer
    </button>
  </div>

  <h4>Customers</h4>
  <br />
  <!--Table-->
  <table class="table table-hover table-fixed">
    <!--Table head-->
    <thead>
      <tr>
        <th>Name</th>
        <th>Website</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <tr *ngFor="let el of customerList">
        <td>{{ el.name }}</td>
        <td>{{ el.website }}</td>
        <td>{{ el.address }}</td>
        <td>
          <span 
            ><button (click)="editCustomer(el)">Edit</button
            ><button (click)="deleteCustomer(el)">Delete</button></span
          >
        </td>
      </tr>
    </tbody>
    <!--Table body-->
  </table>
  <!--Table-->
</div>
