<div >
    <h4 >Songs</h4><br>
    <table mat-table [dataSource]="songsList" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef><h6>ID</h6></th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef><h6>Song Name</h6></th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="decription">
            <th mat-header-cell *matHeaderCellDef><h6>Description</h6></th>
            <td mat-cell *matCellDef="let element" >{{ element.decription }}</td>
          </ng-container>
        
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef><h6>Action</h6></th>
            <td mat-cell *matCellDef="let element">
              <button type="button" class="btn" (click)="play(element)">Play</button>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      
</div>
